html,body,address,blockquote,div,dl,form,h1,h2,h3,h4,h5,h6,ol,p,pre,table,ul,dd,dt,li,tbody,td,tfoot,th,thead,tr,button,del,ins,map,object,a,abbr,acronym,b,bdo,big,br,cite,code,dfn,em,i,img,kbd,q,samp,small,span,strong,sub,sup,tt,var,legend,fieldset{margin:0;padding:0;outline:none}
img{border:none;max-width:100%;vertical-align:top}
header,nav,section,article,figure,aside,footer,embed,hgroup,video{display:block}
a{transition:all .2s ease-in-out;text-decoration:none;outline:inherit}
a:hover{text-decoration:none}
a:focus{text-decoration:none;}
li{list-style:none}
body{font-family:'Open Sans', sans-serif;line-height:22px;font-size:15px;color:#000}
header{position:fixed;top:0;left:0;z-index:999;width:100%;    box-shadow: 0 0 5px #aaa;}
.aembootstrap-gv-rmds-colr{float:left;display:inline-block}
.aembootstrap-gv-rmds-colr a{color:#444!important;border:1px solid #aaa;float:left;margin:0 1px 0 0;border:1px solid #aaa;width:24px;height:24px;font-size:0;margin-right:20px}
a#aembootstrap-gv-rmds-col-o{background:#a0140c}
a#aembootstrap-gv-rmds-col-t{background:#000}
#aembootstrap-gv-rmds-col-th{background:#13a2e4}
.aembootstrap-gv-rmds-skp{float:left;margin-right:20px}
.aembootstrap-gv-rmds-skp a{color:#fff;border:1px solid #aaa;padding:2px 5px;transition:all .3s ease;-mz-transition:all .3s ease;-webkit-transition:all .3s ease;float:left;line-height:20px;font-size:13px;height:24px}
.gigw .aembootstrap-gv-rmds-fnt{padding:0;margin:0 0 0 5px}
.aembootstrap-gv-rmds-fnt a{padding:0;float:left;margin:0 1px 0 0;height:24px;width:24px;line-height:24px;text-align:center;color:#fff;border:1px solid #aaa;margin-right:20px}
#aembootstrap-gv-rmds-col-th{margin-right:0}
.top-header-lft{float:left;margin-top:10px;width:100%}
.top-header-lft a{color:#fff;margin-right:10px}
.top-header-lft a .fa{margin-right:5px}
.top-header-rft{margin-top:10px;float:right}
.aembootstrap-gv-rmds-fnt{float:left}
header .container-fluid{padding:0 50px}
header .navbar-collapse,.navbar-inverse .container-fluid{padding:0}
.navbar-inverse{background-color:transparent;border-color:transparent;margin:-40px 0 0;min-height:inherit}
.navbar-inverse .navbar-nav>li>a{color:#fff;font:600 16px/32px 'Open Sans', sans-serif;padding:0;margin-right:29px}
.navbar-inverse .navbar-nav>li>a:hover{color:#0074e1}
.navbar-inverse .navbar-nav.navbar-right>li>a{color:#000}
.navbar-inverse .navbar-nav.navbar-right>li:last-child a{margin-right:0}
.navbar-inverse .navbar-nav.navbar-right>li>a:hover{color:#0074e1}
.navbar-right{margin-right:0}
.navbar-nav li ul
{
       position: absolute;
    top: 83px;
    background: #fff;
    width: 160px;
    border-top: solid 3px #0074e1;
    display: none;
}
.navbar-nav li:hover ul
{
    /*display: block;*/
}
.navbar-nav li ul li
{
    float: left;
    width: 100%;
    border-bottom:solid 1px #ccc;
}
.navbar-nav li ul li a
{
      color: #3b3838;
    float: left;
    width: 100%;
    padding: 7px 10px;
    font-weight: 600;
}
.navbar-nav li ul li a:hover{
        background: #0074e1;
    color: #fff;
}
h1.logo{margin-top:15px;text-align:center}
header.hd-bg{background:#fff;border-bottom:solid 1px #ccc}
header.hd-bg .top-header-lft a{color:#000}
header.hd-bg .navbar-inverse .navbar-nav>li>a{color:#000}
header.hd-bg .navbar-inverse .navbar-nav>li>a:hover{color:#8a0b10}
.banner-txt{position:absolute;left:42%;top: 175px;width:490px}
.banner-txt2{     left: 55%;
	z-index:10;
    width: auto;
    max-width: 250px;
    bottom: 380px;
    position: absolute;}
.banner .banner-txt2 .bnr-hdg{font:bold 40px/50px 'Gentium Basic', serif;text-transform:uppercase}
.banner .banner-txt2 .bnr-cont{padding-top:10px;color:#878787;font:normal 20px/25px 'Open Sans', sans-serif}
.banner-txt a{color:#000;font:normal 24px/29px 'Open Sans', sans-serif;padding:10px 100px 10px 26px;background:#fff;box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);border-radius:30px;margin-top:50px;float:left;position:relative}
.banner{float:left;width:100%;background:#fff url(../images/banner-bg.png) no-repeat top left;background-size:100% 100%;position:relative;overflow:hidden;margin-top:128px}
.pm-image{position:absolute;left:20px;bottom:0;z-index:99}
.bnr-social-link{position:absolute;right:-70px;bottom:0;z-index:99;background:url(../images/social-bg.png) no-repeat;background-size:100% 100%;width:275px;height:275px}
.bnr-social-link ul{float:left;margin-top:50px;margin-left:50px}
.bnr-social-link li{float:left;width:100%}
.bnr-social-link li a{text-align:center;color:#fff;float:left;font-size:35px;padding-top:7px;margin-right:16px}
.banner .owl-dots{display:none}
footer{background:#017acb;padding:20px 0;color:#fff;float:left;width:100%}
.footer-top{position:relative}
.copy-rights{text-align:center;border-top:solid 1px #ccc;padding-top:20px;margin-top:20px}
footer p{font:normal 16px/23px 'Open Sans', sans-serif}
.footer-col1 img{margin-bottom:20px}
.footer-col1 ul li{float:left;margin-right:10px;margin-top:20px}
.footer-col1 ul{float:left;width:100%;padding-bottom:20px}
.footer-col1 ul li a{float:left;font:normal 16px/19px 'Open Sans', sans-serif;border-right:solid 1px #fff;color:#fff;padding-right:10px}
.footer-col1 ul li:last-child a{border:0}
.footer-col2 h5{color:#fff;font:bold 24px/27px 'Open Sans', sans-serif;padding-bottom:25px}
.footer-col2 li,.link-bottom li{display:inline-block;margin:0 6px 8px}
.footer-col2,.footer-col2 ul{text-align:center}
.footer-col2 li a,.link-bottom li a{color:#fff;font:normal 16px/27px 'Open Sans', sans-serif}
.footer-col2 li a:hover,.link-bottom li a:hover
{
    color: #000;
}
.footer-social-links{float:left;width:100%}
.footer-social-links li a{background:#bc2320;text-align:center;color:#fff;width:48px;height:48px;float:left;border-radius:50%;font-size:24px;padding-top:7px;margin-right:16px}
.link-bottom{margin-top:10px;float:left;width:100%}
.innerpage header{background:#fff url(../images/header-lft.png) no-repeat top left;background-size:46%}
body{background:#efefef}
.whitebg{background:#fff;min-height:500px;margin-bottom:50px;padding:35px;float:left;width:100%}
.innerpage main{margin-top:126px;float:left;width:100%}
.page-title h2{color:#fff;font:bold 28px/29px 'Open Sans', sans-serif;text-align:center;padding:50px 0;text-transform:uppercase;float:left;width:100%}
.whitebg h3{color:#2d2d2b;font:700 22px/29px 'Open Sans', sans-serif;padding-bottom:14px;text-transform:uppercase}
.whitebg h4{color:#2d2d2b;font:700 17px/24px 'Open Sans', sans-serif;padding-bottom:20px;padding-top:15px}
#first-step-registarion{margin-bottom:15px}
.form-hide,.other-fieldhide{display:none}
.btn{border-radius:0px}
.btn-primary{color:#fff;background-color:#2ac6bf;border-color:#2ac6bf}
.other-field.oth-active .form-group{float:left;width:50%}
.other-field.oth-active .form-group select{width:94%}
.vis-hidden{visibility:hidden}
.whitebg textarea{height:114px}
.header-top{background:#0074e1;float:left;width:100%;padding-bottom:10px}
.header-bottom{background:#fff;float:left;width:100%}
.clearfix{clear:both}
.logo-center{position:absolute;left:50%;top:0;transform:translate(-50%)}
.navbar-inverse{border-color:transparent;margin:0;min-height:inherit;float:left;width:100%}
.navbar-inverse .navbar-nav>li>a{color:#000;padding:25px 0}
header .container-fluid{position:relative}
.logo img{max-height:80px}
h1.logo{margin-top:2px}
body{background:#363636}
.banner-txt{max-width:920px;width:auto}
.banner .bnr-hdg{font:bold 45px/46px 'Gentium Basic', serif;text-transform:uppercase;color:#fff;text-shadow:3px 3px #000;    padding-bottom: 25px;}
.banner .bnr-cont{position: absolute;
    bottom: 24%;
    right: 25%;padding-top:10px;color:#fff;font:normal 30px/33px 'Gentium Basic', serif;}

.main-content{background:#f4f9ff;padding:70px 20px 25px;float:left;width:100%}
.about-des h2{position:relative;float:left;padding-right:100px;font:700 29px/34px 'Open Sans', sans-serif;color:#0074e1;padding-bottom:20px}
.about-des h2:before{content:'';position:absolute;left:-100px;top:-13px;background:#0074e1;height:4px;width:100%}
.about-des p{color:#424242;padding-bottom:15px;font:400 17px/29px 'Open Sans', sans-serif}
.login-gorm{background:#fff;box-shadow:0 15px 30px 0 rgba(0,0,0,0.11),0 5px 15px 0 rgba(0,0,0,0.08);float:right;width:92%}
.login-gorm h2{text-align:center;font:700 23px/27px 'Open Sans', sans-serif;color:#000;padding:20px}
.login-gorm .form-group{position:relative}
.login-gorm form{padding:0 20px 20px}
.login-gorm .form-group .fa{position:absolute;top:14px;left:7px;color:#a29d9d}
.login-gorm .form-control{padding-left:25px;height:43px}
.login-btn{padding:15px 0}
.frm-btn{background:#fafafa;padding:30px 20px}
.forgot-pass{float:left;width:100%;padding:3px 0 10px}
.forgot-pass a{color:red;font:700 15px/23px 'Open Sans', sans-serif;float:right}
.frm-btn p{border-top:solid 1px #ccc;padding-top:20px;text-align:center;font-weight:700}
.login-gorm .btn{font:700 15px/23px 'Open Sans', sans-serif;padding:7px 17px}
.winner-section{padding:90px 0;text-align:center;float:left;width:100%;position:relative;background:#f4f9ff}
.winner-section h2{float:left;padding-right:0;font:700 29px/34px 'Open Sans', sans-serif;color:#0074e1;padding-bottom:20px;width:100%}
.winner-section:before,.partner-section:before{content:'';position:absolute;right:-100px;top:40px;background:#0074e1;height:4px;width:450px}
.winner-section:after{content:'';position:absolute;left:-100px;bottom:40px;background:#0074e1;height:4px;width:450px}
.view-all a{color: #565353;
    font: 600 22px/29px 'Open Sans', sans-serif;
    padding: 10px 100px 10px 26px;
    background: #fff;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 30px;
    margin-top: 30px;
    display: inline-block;
    position: relative;}
.view-all{text-align:center;float:left;width:100%}
.view-all a span{width:49px;height:49px;background:#017acb;position:absolute;right:0;top:0;border-radius:50%}
.view-all a span:after{width:0;height:0;border-top:8px solid transparent;border-bottom:8px solid transparent;border-left:8px solid #fff;content:'';position:absolute;right:19px;top:16px}
.view-all a:hover{background:#017acb;color:#fff}
.gallery-blk1{float:left;width:360px}
.gallery-blk2{float:left;width:630px}
.gallery-blk3{float:right;width:249px;margin-top:-60px}
.gal-block{float:left;width:100%;position:relative;padding-top:80px}
.gal-block img{width:100%}
.partner-section{background:#f4f9ff;padding:61px 0 40px;float:left;width:100%;position:relative}
.partner-inner{background:#fff;margin:2%;width:96%;float:left;border-radius:7px;text-align:center;padding:30px 0}
.partner-inner h3{float:left;font:700 29px/34px 'Open Sans', sans-serif;color:#0074e1;padding-bottom:20px;width:100%}
.partner-inner li{display:inline-block;margin:0 5px}
.container{width:1270px}
.banner .owl-carousel .owl-item,.banner .owl-carousel .item{min-height:650px}
.tweet-section{float:left;width:100%;padding:45px 0;background:#fff}
.twt-heading{background:#017acb;border-radius:10px;text-align:left;width:214px;height:165px;position:relative;float:left}
.twt-heading span{position:absolute;left:15px;bottom:15px;font:700 29px/34px 'Open Sans', sans-serif;color:#fff;text-transform:uppercase}
.twt-rft .twt-heading{float:right}
.twt-block{background:#fff;box-shadow:0 15px 30px 0 rgba(0,0,0,0.11),0 5px 15px 0 rgba(0,0,0,0.08);font-size:smaller;width:330px;float:left;margin-left:34px;height: 500px;
    overflow-y: scroll;}
.twt-rft .twt-block{margin-left:0}
.twt-text{padding:20px;border-bottom:solid 1px #ccc}
.twt-block li{float:left;width:100%;background:#fff;cursor:pointer;border-left:solid 3px #fff;font-size:15px}
.twt-block li:hover{border-left:solid 3px #017acb;background:#f4f4f4}
.twt-text p{font:600 15px/24px 'Open Sans', sans-serif;font-size:15px;color:#000}
.tw-date{font-size:13px;margin-top:6px;font-weight:600}
.link-bottom li.web-last a:hover
{
    color: #fff;
}
main
{
    float: left;
    width: 100%;
}
.innerpage{
	font: 'Open Sans', sans-serif;
}
.innerpage .whitebg ol li{
	list-style: inherit;
	font:400 16px/27px 'Open Sans', sans-serif;
}
.innerpage .whitebg ul li
{
    list-style: disc;
    font:400 16px/27px 'Open Sans', sans-serif;
}
.innerpage .whitebg ul,.innerpage .whitebg ol
{
    margin-left: 17px;
    padding-bottom: 10px;    padding-top: 9px;
}
.innerpage .whitebg p
{
    font:400 16px/24px 'Open Sans', sans-serif;
    padding-bottom: 10px;
}
.innerpage .whitebg h3
{
    color: #0074e1;
    font: bold 22px/29px 'Open Sans', sans-serif;
    padding: 8px 0 17px 0;
}
.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
    color: #0074e1;
}
.navbar-nav li ul
{
    top: 82px;
}


/*  Balance sheet css  */
.bal-sheet td .form-control{width:90%;float:right}
.bal-sheet td .fa-inr{float:left;padding-top:9px}
.bal-sheet table label.hidden{display:block!important;font-size:0}
.bal-sheet td strong.main-td2{padding-left:20px;font-weight:500}
.bal-sheet td strong.main-td{text-align:left}

/* owl-carousel css  */
.banner
{
    min-height: 412px;
}
.banner-gal
{
    position: absolute;
    left:0;
    max-height: 145px;	
    bottom: 0px;
    width:100%;
    background: #ccc;
    padding: 10px;
}
.banner .owl-carousel .owl-item, .banner .owl-carousel .item {
    min-height: inherit;
}
.banner .owl-one.owl-carousel .owl-item, .banner .owl-one.owl-carousel .item {
    min-height: 650px;
}
.banner-gal .owl-carousel .owl-nav.disabled
{
    display: block;
    height: 0;
}
.banner-gal .owl-next span {
    position: absolute;
    top: 7%;
    right: 5px;
    font-size: 55px;
    color: #fff;
}
.banner-gal .owl-prev span
{
    position: absolute;
    top: 7%;
    left: 5px;
    font-size: 55px;
    color: #fff;
}
.banner-txt2 {
    left: inherit;
    right: 15px;
    width: auto;
    max-width: 289px;
    bottom: 200px;
    position: absolute;
}
.banner-txt
{
    left: 412px;
}
.banner-txt p
{
    font: 400 22px/26px 'Open Sans', sans-serif!important;
    color: #fff;
    padding-bottom: 20px;
}
.navbar-inverse .navbar-nav>li>a
{
    margin-right: 78px;
}
.about-des ul li
{
    float: left;
    text-align:center;
    width: 24%;
    margin-right: 1.33%;
}
.about-des ul li i
{
	font-size: 80px;
    color: #0074e1;
}
.about-des ul li:last-child
{
    margin-right: 0;
}
.about-des ul li a
{
    width: 160px;
    height: 91px;
    background: #0074e1;
    float: left;
    text-align: center;
    display: table;
    padding: 20px;
    font: 700 19px/26px 'Open Sans', sans-serif;
}

.about-des ul li a:hover{
   background: #fff;	
}

.about-des ul li a .circle-box:hover{

   color:  #0074e1;
}
.about-des ul li a .circle-box
{
    display: table-cell;
    vertical-align: middle;
    text-transform: uppercase;
    color: #fff;
}
.about-des ul
{
      position: relative;
    padding-top: 119px;
}
.about-des ul:before
{
    content: '';
    position: absolute;
    left: -100px;
    top: -20px;
    background: #0074e1;
    height: 4px;
    width: 450px;
}
.cnt-gallery .gal-box
{
    float: left;
    width: 32%;
    margin-right: 2%;    margin-bottom: 10px;
}
.cnt-gallery .gal-box img
{
    background: #ccc;
    padding: 5px;
}
.cnt-gallery .gal-box:nth-child(3n)
{
    margin-right: 0;
}
.gov-quot,.cnt-gallery,.Judge-quot
{
    margin-top: 30px;
}
.gov-quot h3,.Judge-quot h3
{
     font: 600 22px/26px 'Open Sans', sans-serif;
    text-transform: uppercase;
    border-bottom: solid 2px #ccc;
    padding-bottom: 13px;
    margin-bottom: 15px;
    position: relative;
}
.gov-quot h3:after,.Judge-quot h3:after
{
    content: '';
    width: 100px;
    height: 2px;
    background: #0074e1;
    position: absolute;
    bottom: -2px;
    left: 86px;
}
.cnt-gallery
{
    margin-top: 36px;
}
.banner
{
        background: #1d466d;
}
.banner {
        background: #1d466d no-repeat top left;
}

/*GALLERY*/
.gal-box
{
    float: left;
    width: 32%;
    margin-right: 2%;
    margin-bottom: 20px;
}
.gallery-cont .gal-box:nth-child(3n)
{
    margin-right: 0;
}
.gallery-cont .gal-box .gal-img-box
{
        position: relative;
    width: 100%;
    height: 279px;    float: left;
    overflow: hidden;
    text-align: center;

}
.gallery-cont .gal-box .gal-img-box:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 279px;
    content: '';
    background: url(../images/aboutimg-bg.png) no-repeat;
    background-size: 100% 100%;
}
.gallery-cont .gal-box  img {
    height: 279px;
    width: auto;
    max-width: inherit!important;
    transition:all .5s ease-in-out;
}
.gallery-cont .gal-box .gal-title
{
     color: #373737;
    font: bold 19px/29px 'Open Sans', sans-serif;
    margin-top: 7px;
    width: 100%;
    text-align: center;
    clear: both;
    float: left;
    margin-bottom: 20px;
}
.gallery-cont .gal-box a:hover img
{
    transform: scale(1.1);
}
.gallery-cont .gal-box a:hover .gal-title
{
    color: #26c7b8;
}


/* pictures_eyes style */

.picshade {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.91;
  filter: alpha(opacity=91);
  z-index: 99;
  display: none;
}

.pictures_eyes_close {
  position: fixed;
  top: 30px;
  right: 30px;
  display: inline-block;
  width: 26px;
  height: 26px;
  background: url(/resources/images/close.png) no-repeat;
  z-index: 100;
  display: none;
}

.pictures_eyes {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 199;
  display: none;
}

.pictures_eyes_in {
  position: relative;
  text-align: center;
}

.pictures_eyes_in img { max-height: 500px; }

.pictures_eyes_in .prev, .pictures_eyes_in .next {
  position: absolute;
  top: 50%;
  width: 51px;
  height: 51px;
  cursor: pointer;
}

.pictures_eyes_in .prev {
  left: 35px;
  background: url(/resources/images/Tleft.png) no-repeat;
}

.pictures_eyes_in .next {
  right: 35px;
  background: url(/resources/images/Tright.png) no-repeat;
}

.pictures_eyes_indicators {
  position: fixed;
  left: 0;
  bottom: 15px;
  width: 100%;
  text-align: center;
  z-index: 299;
}

.pictures_eyes_indicators a {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 6px 3px 0 3px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 2px #000;
  filter: alpha(opacity=50);
  opacity: 0.5;
  overflow: hidden;
}

.pictures_eyes_indicators img { height: 50px; }

.pictures_eyes_indicators .current {
  filter: alpha(opacity=100);
  opacity: 1;
}

ul.demo li {
    float: left;
    width: 23%;
    margin-right: 2.6%;
    position: relative;    margin-bottom: 53px;
    cursor: pointer;
}
ul.demo li:nth-child(4n)
{
    margin-right: 0;
}
ul.demo li div
{
    position: relative;
    width: 100%;
    height: 279px;    float: left;
    overflow: hidden;
    text-align: center;

}

ul.demo li  img {
    height: 279px;
    min-width: 100%;
    max-width: inherit!important;
    transition:all .5s ease-in-out;
}
ul.demo li:hover img
{
    transform: scale(1.1);
}

.top-header-lft a .fa{
	font-size: 20px;
}
.fa-bottom li{
	display: inline-block;
}
.fa-bottom li a{
	font-size: 25px;
	color: #fff;
}
.web-last a{
	color: #fff;
}
.clear-fix{
	margin-top: 15px;
}


/*Don't change this*/
.modal-content{
	border-radius: 0px;
}
.modal-header {
    background-color: #2ac6bf;
    text-align: center;
}
.modal-title {
	font-weight: bold;
	color: white;
    font-size: 22px;
}
#captchaBlock,#captchaBlock1{
    float:left;
    width:350px;
}
.captchaWrap,.captchaWrap1{
    float:left;
    width:100%;
}
.c-img,.captchaContainer,.c-img1,.captchaContainer1{
    float:left;
    width:130px;
}
.captcha-input,.captcha-input1{
    float:left;
    width:155px;
    margin:0 7px;
    position:relative;
}
.captcha-input input[name="code"],.captcha-input1 input[name="code"] {
   padding: 5px;
   margin-top: 5px;
   float: left;
   width: 100%;
   height: 40px;
}
.captcha-input input[name="code"],.captcha-input1 input[name="code"] {
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.refresh-wrap,.refresh-wrap1{
    float:left;
    width:20px;
}
#searchButton,#searchButton1 {
    font-size: 20px;
    line-height:24px;
    cursor:pointer;
    float:left;
    margin-top:13px;
}
#captchaMessage,#captchaMessage1 {
    font-size:12px;
    line-height:15px;
    display: block;
    color: red;
}
.form-group{
	margin-top: 20px;
}
.form-control{
	border-radius: 0px; 
}
.owl-carousel .owl-item img.winners-img{
	max-height: 124px;
}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
       color: #0074e1;
    background-color: transparent;
}
.dropdown-menu
{
    padding: 0;
}
.navbar-nav li ul li a:hover {
    background: #0074e1!important;
    color: #fff;
}
.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

.card {
  text-align: center;
  box-shadow: 0px 13px 30px 3px	 rgba(0, 0, 0, 0.2);
  min-height: 360px;
  max-height: 360px;
}

.card img{
  min-height: 200px;
  max-height: 200px;
}

.title {
  color: grey;
}
.award-hdg img
{
	max-height:150px;
	border:solid 2px #ccc;
}
.award-images ul
{
	text-align:center;
	width:100%;
}
.award-images ul li
{
	list-style:none;
	display:inline-block;
	    max-height: 100px;
    margin: 5px 18px;
}
.award-images ul li p
{
	padding-top:10px;
	color:#000;
}
.award-images ul li img
{
	max-height:200px;
	border:solid 2px #ccc;
}
.award-images
{
	    margin-top: 50px;
}
.whitebg .winner-section:nth-child(odd):after
{
	display:none;
}
.whitebg .winner-section:nth-child(odd):before
{
	display:none;
}


/*Responsive Code*/
@media only screen and (max-width:1450px)
{
    
.about-des ul:before{left:-90px;width:250px}
.winner-section:before{right:-50px;width:250px}
.winner-section:after{left:-50px;width:250px}
.partner-section:before{right:-50px;width:250px}
}

@media only screen and (max-width:1350px)
{
    .about-des ul:before{left:-70px}
.winner-section:before{right:-30px}
.winner-section:after{left:-30px}
.partner-section:before{right:-30px}
}
@media only screen and (max-width:1300px)
{
   .about-des ul:before,.winner-section:before,.winner-section:after,.partner-section:before{display:none}
.container{width:100%}
.navbar-inverse .navbar-nav > li > a{margin-right:16px}
.banner-txt{max-width:550px;width:auto}
}

@media only screen and (max-width:1250px)
{
    .pm-image img{width:350px}
.banner-txt{left:403px}
.twt-heading{width:160px}
.about-des ul li{width:48%;margin-bottom:30px}
.about-des ul{padding-top:30px}
.twt-block{width:268px}
}

@media only screen and (max-width:1024px)
{
   .pm-image img{width:250px}
.banner .owl-one.owl-carousel .owl-item,.banner .owl-one.owl-carousel .item{min-height:inherit;height:400px}
.banner-txt,.banner-txt2{bottom:150px}
.banner-txt{left:312px}
.banner .bnr-hdg{font:bold 24px/33px arial}
}

@media only screen and (max-width:768px)
{
    .aembootstrap-gv-rmds-skp,.aembootstrap-gv-rmds-fnt{display:none}
header .container-fluid{padding:0 15px}
.header-top .col-md-6{width:50%;float:left}
.logo-center{position:static;transform:inherit;float:left;padding:10px;width:100%}
.navbar-inverse .navbar-toggle .icon-bar{background-color:#000}
.header-bottom .col-md-12{float:right;width:100%}
.navbar-inverse .navbar-toggle{margin-top:32px}
.navbar-right{float:left!important}
header{position:static}
.banner{margin-top:0}
.banner .owl-one.owl-carousel .owl-item,.banner .owl-one.owl-carousel .item{height:450px!important}
.pm-image img{width:158px}
.banner-txt{left:20px;bottom:inherit;top:20px;width:100%;max-width:100%}
.banner-txt2{bottom:0;right:10px;max-width:200px}
.navbar-inverse .navbar-nav > li > a{padding:9px 0}
.login-gorm{float:left;width:100%}
.gov-quot,.Judge-quot{max-width:330px;margin:0 auto;clear: both;}
.col-md-6.twt-lft{float:left;width:100%}
.twt-heading span{position:static}
.twt-heading span br{display:none}
.twt-heading{float:left;width:100%;height:auto;padding:10px 16px}
.twt-block{width:100%;margin-left:0;margin-top:30px;float:left}
.winner-section{padding:40px 0}
.col-md-6.twt-rft{float:left;width:100%;margin-top:50px}
.partner-section{padding:34px 0}
.main-content{padding:30px 20px 25px}
.about-des,.about-des ul{float:left;width:100%}
.about-des ul li{text-align:center}
.navbar-nav{margin:0}
.banner-txt p{display:none}
.navbar-inverse .navbar-nav > li > a{margin-right:0;padding:4px 7px;border-bottom:solid 1px #ccc}
.navbar-right{float:left!important;width:100%}
h1.logo{text-align:left}
.header-bottom .col-md-12{position:absolute;z-index:999}
#myNavbar{margin-top:26px;background:#fff}    
}
@media only screen and (max-width:768px)
{
.banner .bnr-cont{top:100px;left:0;width:100%;bottom:inherit;padding:10px 15px;font:normal 22px/26px 'Open Sans', sans-serif}
.banner-txt{left:0;padding:0 15px}
.banner .bnr-hdg{font:bold 21px/29px arial}
.top-header-lft a:nth-child(3),.top-header-lft a:nth-child(4),.top-header-lft a:nth-child(5){display:none}
.banner-gal{display:none}
.about-des ul li{width:100%;margin-bottom:30px;margin-right:0}
.about-des ul li a .circle-box{display:block}
.about-des ul li a{width:100%;display:block;text-align:center;height:auto}
.main-content{padding:30px 0 25px} 
    .gal-box {
    position: relative;
    height: 100px!important;
}
}
.about-des ul li a:hover {
 background: #2ac6bf;
 color: #fff;
}
.whitebg
{
  height: auto!important;
}
.not-found h2
     {
             font-size: 50.5px;
         padding-bottom: 30px;
     }
     .not-found h3
     {
             font-size: 30.5px; padding-bottom: 30px;
     }
     
     
     .badge{
         display: inline-block;
    min-width: 10px;
    padding: 6px 16px;
    font-size: 15px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #0074e1;
    border-radius: 10px;
    line-height: 20px;
     }
     .banner-gal-hdg{margin-left:356px;color:#fff;font:normal 27px/33px 'Open Sans', sans-serif;padding-bottom:18px}
.banner-gal{background:inherit;padding:0;max-height:inherit}
.banner-gal-inn{background:#ccc;padding:10px;max-height:145px}
.banner .bnr-cont{position:static;padding-top:30px}
.banner-txt{top:inherit;bottom:200px;left:356px;max-width:831px}
.pm-image img{max-width:330px}
.banner .bnr-hdg{font:bold 36px/46px 'Open Sans', sans-serif}
.banner-txt p{font:400 22px/32px 'Noto Serif KR',sans-serif!important}
.banner-txt2{right:0;width:320px}
.banner-txt{bottom:340px}
.banner-outer{position:relative;overflow:hidden;margin-top:128px}
.banner{overflow:visible;margin-top:0}
.banner .owl-one.owl-carousel .owl-item,.banner .owl-one.owl-carousel .item{min-height:540px}
@media only screen and (max-width:1380px) {
.banner .bnr-hdg{font:bold 36px/41px 'Open Sans', sans-serif}
.banner .bnr-cont{font:normal 27px/33px 'Open Sans', sans-serif}
.banner-txt{max-width:800px}
}
@media only screen and (max-width:1300px) {
.banner-txt2{max-width:265px;bottom:225px}
}
@media only screen and (max-width:1180px) {
.banner-txt{bottom:inherit;top:30px;left:274px}
.banner-txt2{max-width:258px;bottom:216px}
}
@media only screen and (max-width:1024px) {
.banner-gal{position:static;float:left;width:100%}
.banner-outer{position:static}
.banner-txt2{bottom:0;max-width:305px}
.banner-gal-hdg{padding:16px;margin-left:0}
.banner-txt{left:0;max-width:100%;padding:0 20px}
.banner{margin-top:130px}
.banner-outer{margin-top:0;float:left;width:100%}
.banner-txt{top:10px}
.banner .bnr-hdg{padding-bottom:10px}
}
@media only screen and (max-width:768px) {
.header-bottom .col-md-12{position:static}
.navbar-right{width:auto}
.banner{margin-top:0}
.banner-txt2{bottom:0;max-width:200px}
.header-top .row .col-md-6:nth-child(1){width:60%}
.header-top .row .col-md-6:nth-child(2){width:40%}
.aembootstrap-gv-rmds-colr a{margin-right:8px}
.footer-col2 li,.link-bottom li{float:left}
.banner-gal{display:block}select {
    position: relative;
    margin-bottom: 10px;
}
}
@media only screen and (max-width:767px) {
.header-bottom .col-md-12{position:absolute;z-index:999}
.navbar-right{width:100%}
.nav > li{float:left;width:100%}
.twt-block{height:auto}
.Judge-quot{margin-top:35px;display:inline-block}
.banner .bnr-hdg{font:bold 30px/39px 'Open Sans', sans-serif!important;padding-bottom:10px}
.banner-txt p{font:400 15px/22px 'Noto Serif KR',sans-serif!important;display:block}
}
.mandate{color:red;font-weight:bold}
    .info-div{
        text-align: center;
    }
    .info-div .badge{
        font-size:24px;
        background-color: #fff;
        color: #523232;
    }
    .info-div h4{
        font-size: 22px;
    }
    .info-div .col-md-4{
        border: 1px solid #ccc;
    }
.card.reg{
	box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.2);
    min-height: 115px;
}   
.card.reg p.title{
	font-size: 18px;
}
.nominee-content{
	position:relative;
	top: 50px;
}
.form-header{
	text-align: center;
}
select[multiple] option{
	padding: 5px;
}
.heading-span{
    font-size: 20px;
    padding-left: 38px;
}
.align-center{
	text-align:center;
}
.banner-gal-sub {
    position: absolute;
    bottom: 18px;
    right: 32%;
    font: 700 19px/0px 'Open sans';
}
.banner-gal-inn {
    max-height: 170px;
}
.banner-gal{
	z-index:9;
}
.line {
    border-right: 1px solid #ccc;
}
.innerpage .whitebg p {
    padding-bottom: 10px;
    font-family: 'Open Sans', sans-serif!important;
    line-height: 25px!important;
    padding-top: 10px;
    font-size: 16px!important;
}
.innerpage .whitebg .inner-heading
{
 font: 600 22px/24px 'Open Sans', sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
}
.circle-two{width:100%;text-align:center} .circle-two ul li{display:inline-block;margin:10px} .circle-two ul li a{width:80px;height:80px;background:#ccc;float:left;text-align:center;display:table;border-radius:50%;padding:0px;font:700 19px/26px 'Open Sans',sans-serif} .circle-two ul li.active-cir a{background:#06a555} .circle-two ul li a span{display:table-cell;vertical-align:middle;text-transform:uppercase;color:#fff}
hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 2px solid #eee;
}
.give-padding{
	padding:30px;
}
.corner-box {
    position: relative;
    margin-top: -18px;
    float: right;
    line-height: 0px;
    text-align: center;
    border: 1px solid #000;
}
.whitebg .tx1-hdg h4
{
    font: 600 22px/28px 'Open Sans', sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
}
.whitebg .tx1-hdg h5
{
    font: 600 18px/24px 'Open Sans', sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
}
.panel-body {
    background: #e8f5fb;
}
.innerpage .whitebg h2 {
    font: 600 22px/24px 'Open Sans', sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
}
.whitebg h4
{
        padding-top: 10px;
    padding-bottom: 10px;    font: 600 22px/30px 'Open Sans', sans-serif;
}
.innerpage .whitebg ol li,.innerpage .whitebg ul li
{
        font: 400 16px/25px 'Open Sans', sans-serif;padding-bottom: 10px;
}
.panel-default
{
   margin: 10px 0;
    float: left;
    width: 100%;
}
.innerpage h2
{
    font: 600 22px/24px 'Open Sans', sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
}
.page-title h2 {
	padding: 30px 0 !important;
}

body {
	text-align: justify !important;
}

@keyframes cf3FadeInOut { 0% {
	opacity: 1;
}

45%
{
opacity
:
1;


}
55%
{
opacity
:
0;


}
100%
{
opacity
:
0;


}
}
.gal-box img {
	position: absolute;
	left: 0;
}

.gal-box .img-fade2 {
	animation-name: cf3FadeInOut;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-duration: 7s;
	animation-direction: alternate;
}

.gal-box {
	position: relative;
	height: 130px;
}
.modal-body ol li {
    list-style: decimal !important;
    padding: 1px;
    margin: 16px;
}
.circle-two {
    width: 100%;
    text-align: center;
    float: left;
    margin-top: 34px;
}
.corner-box {
    position: relative;
    margin-top: -18px;
    float: right;
    line-height: 0px;
    text-align: center;
    border: 1px solid #000;
    margin-left: 0;
    margin-right: 0;
}
img.g-logo {
    width: 90%;
    margin-top: 15px;
}
.bal-sheet td .form-group .fa
{
    position: absolute;
           left: 8px;
    top: 6px;
}
.bal-sheet td .form-group
{
    position: relative;
}
.bal-sheet td .form-control
{
    width: 100%;padding-left: 21px;
}

.awards-page
{
    background: url(/static/images/awards-bg.jpg) no-repeat;
    background-size:100%;
        min-height: 640px;
    text-align: center;
}
.awards-inner
{
    display: table;
       min-height: 500px;
    width: 100%;padding: 20px 70px;
}
.text-centerfull
{
    vertical-align: middle;
    display: table-cell;
    height: 100%;
    
}
.innerpage .awards-page .award-hdg
{
    font: 400 39px/50px 'Open Sans',sans-serif;
    padding-bottom: 30px;
}
.innerpage .awards-page li
{
    list-style: none!important;            font: 600 21px/26px 'Open Sans',sans-serif!important;
}
.btn-group .btn
{
	margin-right:10px;
}
.left-form td .form-group .fa
{
    position: absolute;
           left: 8px;
    top: 11px;
}
.left-form td .form-group
{
    position: relative;
}
.left-form td .form-control
{
    width: 100%;padding-left: 21px;
}
#myProgress1,#myProgress2,#myProgress3,#myProgress4,#myProgress5,#myProgress6,#myProgress7{width:100%;background-color:#ddd}
#myBar1,#myBar2,#myBar3,#myBar4,#myBar5,#myBar6,#myBar7{width:10%;height:30px;background-color:#4CAF50;text-align:center;line-height:30px;color:#fff}
#myProgress1,.upload-btn1,.close-file1,#myProgress2,.upload-btn2,.close-file2,#myProgress3,.upload-btn3,.close-file3,#myProgress4,.upload-btn4,.close-file4,#myProgress5,.upload-btn5,.close-file5,#myProgress6,.upload-btn6,.close-file6,#myProgress7,.upload-btn7,.close-file7{display:none}
.adsadas .upload-btn1,.adsadas .upload-btn2,.adsadas .upload-btn3,.adsadas .upload-btn4,.adsadas .upload-btn5,.adsadas .upload-btn6,.adsadas .upload-btn7{pointer-events:none}
#file-upload1,#file-upload2,#file-upload3,#file-upload4,#file-upload5,#file-upload6,#file-upload7{width:50%;margin-bottom:15px}
.input-file1,.input-file2,.input-file3,.input-file4,.input-file5,.input-file6,.input-file7{position:relative}
#myProgress1,#myProgress2,#myProgress3,#myProgress4,#myProgress5,#myProgress6,#myProgress7{position:absolute;right:88px;top:0;width:40%}
.close-file1,.close-file2,.close-file3,.close-file4,.close-file5,.close-file6,.close-file7{position:absolute;right:0;top:0}

.left-form .form-group label
{
float:left;
width:100%;
}

.left-form input[type=file] {
    width: 50%;
}
.modal .table td,.modal .table th
            {
                    white-space: normal;
    word-break: break-all;
            }
            .whitebg h4
            {
            width:100%;float:left;
            }
            .give-padding {
    padding: 10px;
    float: left;
    width: 100%;
}
.form-new-css .form-group{
	width:100%;
	float:left;
}
.form-new-css input[type=file]{
	width:50%;
}
.modal-lg {
    width: 1260px;
}

@media only screen and (max-width:1025px)
{
	.modal-lg {
    width: 90%;
}
}
.with-errors{
	color: #f00;
}
.modal-lg table
        {
            table-layout: fixed;
        }
        .help-block.with-errors ul li {
    color: red;
}
.has-error .form-control {
    border-color: #f00;
    border: 1.5px solid #f00;
}
#awardForm label[for=dob]
{
    float:left;
    width:100%;
}

/* Responsive css*/

.banner .owl-carousel .owl-item img{opacity:.4}
.banner-gal-inn .owl-carousel .owl-item img{opactiy:inherit}
.partner-section{background:#d9e1ea}
.banner-gal .owl-next span,.banner-gal .owl-prev span{top:26%}
@media all and (min-width: 768px) and (max-width:1024px) {
h1.logo{text-align:center}
.navbar-right{float:right!important}
.navbar-nav li ul{top:43px}
h1.logo{text-align:center}
.navbar-right{float:right!important}
.innerpage main{margin-top:0}
.navbar-nav li ul{top:43px}
.pull-left{width:100%}
}
@media all and (min-width: 320px) and (max-width:767px) {
.innerpage main{margin-top:0}
.whitebg{padding:35px 15px}
.column{margin-bottom:40px}
.pull-left{width:100%}
.banner .owl-carousel .owl-item img{height:100%;max-width:inherit;width:inherit}
.banner-gal-sub{position:static;font:700 19px/24px 'Open sans';float:left;width:100%;color:#fff;padding:0 10px 10px}
.banner-gal-inn{max-height:170px;float:left;width:100%}
.login-gorm .frm-btn .btn{margin-top:10px}
.innerpage main{margin-top:0}
.whitebg{padding:25px 10px;min-height:inherit}
body{text-align:left!important}
.innerpage .whitebg ul,.innerpage .whitebg ol{margin-left:15}
.contact-info{margin-top:27px}
select{position:relative}
.vis-hidden{display:block;margin:0;height:0}
.card.reg{margin-bottom:10px;margin-top:10px}

    .corner-box
    {
            margin-bottom: 15px;    line-height: 23px;    float: left;
    line-height: 23px;
    width: 100%;    margin-top: 0;
    }
    .modal .table td, .modal .table th {
    white-space: normal!important;
    word-break: break-all;
}
    .awards-page
    {
        background: #fff;
    }
    .col-md-6.line
    {
        border: 0;
    }
    .table-bordered>tbody>tr>td
    {
        white-space: normal;    word-break: break-all;
    }
    .awards-inner
    {
            padding: 20px 10px; 
    }
    .innerpage .awards-page .award-hdg {
    font: 400 28px/38px 'Open Sans',sans-serif;
    }
    .awards-inner
    {
        min-height: inherit;
    }
    .col-md-6.web-last
    {
            float: left!important;
    padding-top: 10px;
    }
    .footer-col2 li, .link-bottom li
    {
        margin-left: 0;margin-right: 13px;
    }
}
.card {
    text-align: center;
    box-shadow: 0px 13px 30px 3px rgba(0, 0, 0, 0.2);
    min-height: 386px;
    max-height: 380px;
}
select
{
    position: relative;
}
.modal .table td, .modal .table th {
    white-space: normal;
    word-break: break-all;
    border: 1px solid #ddd;
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
}
.blue-hdg
{
    color: #0074e1!important;
    font-weight: 700!important;
}
.table-responsive
{
    margin-top: 20px;
}
.table-responsive tr:first-child td,.table-responsive tr:first-child th,.tfoot-blue
{
        background: #e8f5fb;
}
.awr-2016 .winner-section
{
        padding: 40px 0;
}
.awr-2016 .winner-section:before
{
    top: 16px;
}
.awr-2016 .winner-section:after
{
   bottom: -15px;
}
.awr-2016 .award-images ul
{
    margin-left: 0;
}

.awr-2016 .award-images ul li img {
    max-height: 200px;
    width: 100%;
    border: solid 2px #ccc;
    width: auto;
    min-height: 200px;
}
.awr-2016 .award-images ul li {
    list-style: none;
    display: inline-block;
    max-height: 190px;
    min-height: 190px;
    margin: 5px 8px;
    vertical-align: text-bottom;
}
.winner-section:after
{
   z-index: 99; 
}

.innerpage .guidelines-page .whitebg ul li
{
        padding-bottom: 14px;
}
.whitebg.faq table
{
    table-layout: fixed;
}
.whitebg.faq .table-responsive
{
    float: left;
    width: 100%;
}
.whitebg.faq table tr th:first-child
{
    width: 30%;
}
.whitebg.faq table tr th:nth-child(2)
{
    width: 60%;
}
.partner-inner img
{
    max-height: 90px;
}
.partner-inner li
{
    margin-top: 10px;
    margin-bottom: 5px;
}
textarea {
  resize: none;
}
 .table-responsive tr:first-child td, .table-responsive tr:first-child th, .tfoot-blue {
    text-align: left;
} 
.innerpage .awards-page li ul li{
	font-size: 16px !important;
}
.innerpage .eligibilitypg p {
    padding-bottom: 10px;
    font-family: 'calibri'!important;
    line-height: 25px!important;
    padding-top: 10px;
    font-size: 18px!important;
}
ul.main-partnerlogo img{
max-height:69px !important;
}
ul.main-partnerlogo p{
font-size:23px !important;
padding: 13px 0px 23px 0px; 
color:#017acb;
font-weight:700;
}
.help-center li
{
    display: inline-block;
    margin: 5px 6px;
}